.task {
    height: 60px;
    color: white;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 20px 20px 0;
    box-shadow: 5px 5px 10px 5px red;
}
 
.task__content {
    margin-left: 20px;
}
 
.actions button {
    width: 60px;
    height: 35px;
    color: white;
    background: none;
    margin-right: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}