.header {
    height: 3.5rem;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
}

.side-bar {
    position: fixed;
  height: 100%;
  overflow: auto;
}

.tasks {
    display: flex;
    justify-content: center;
    width: 100%;
}
 
.container {
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgb(170, 158, 246);
}
 
.list-task {
    display: flex;
    flex-direction: column;
}

.add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}
 
.add-task #new-task-input {
    width: 350px;
    height: 60px;
    color: black;
    font-size: 16px;
    background: none;
    padding-left: 15px;
    border-radius: 20px;
}

.add-task button {
    width: 80px;
    height: 50px;
    color: black;
    background: rgb(254, 125, 125);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}
 
/* ---------------------------------------- */

.task {
    height: 60px;
    color: black;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 20px 20px 0;
    box-shadow: 1px 2px 2px 2px grey;
}
 
.task__content {
    margin-left: 20px;
}
 
.actions button {
    width: 60px;
    height: 35px;
    color: black;
    background: rgb(101, 181, 247);
    margin-right: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}